<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  <title>CodeGig</title>
</head>
<body>
  <header style="margin-bottom:80px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><i class="fas fa-code"></i>CodeGig</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li> <a href="/">Accueil</a> </li>
            
            {{#if user }}
                <li> <a href="/gigs">Toutes les offres</a> </li>
                <li><a href="/gigs/add">Ajouter une offre</a> </li>
            {{else}}
                <li> <a href="/users/login">Connexion</a> </li>
                <li> <a href="/users/register">S'enregistrer</a> </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>