 <section id="gigs" class="panel panel-default">
    <div class="panel-heading">
      <h1>
        Toutes les missions
        {{#if term}}
        <span> in {{term}}</span>
        {{/if}}
      </h1>
    </div>
    <nav class="panel-body">
      {{#each gigs}}
      <div class="jumbotron">
        <h3><b>{{ title }}</b></h3>
        <p>{{description}}</p>
        <ul class="list-unstyled">
          <li>Budget: {{budget}}</li>
          <li><a href="mailto:{{contact_email}}" class="btn btn-success btn-sm">Appliquer maintenant</a></li>
        </ul>
        <div class="tech">
          <small>Technologies Needed: <span>{{technologies}}</span></small>
        </div>
      </div>
      
      
      {{else}}
      <p>Aucune mision disponible</p>
      {{/each}}
      
      {{!--Pagination --}}
      {{#if pages}}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {{#each pages}}
              <li><a href="{{url}}" class="btn btn-reverse"> {{number}}</a></li>
            {{/each}}
          </ul>
        </nav>
      {{/if}}
    </div>
 
   

    
  </section>