<div id="search" class="panel panel-default">
  <div class="panel-heading">
    <h4>Trouver des missions de codage</h4>
  </div>
  <div class="panel-body"> 
      <form action="/gigs/search" class="search-form">
        
        <div class="form-group">
          <input type="search" name="term" class="form-control" placeholder="Javascript, PHP, Rails, etc...">
        </div>
        <input type="submit" value="Rechercher" class="btn btn-primary">
      </form>
  </div>
</div>