<section>
    <h2 class="page-header">Connexion</h2>
   <div class="panel panel-default">
        <div class="panel-body">
            <form action="/users/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="exemple@domain.com" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="ça reste secret">
                </div>
                <div class="form-group">
                    <input type="submit" value="Connexion" class="btn btn-primary">
                </div>
            </form>
            <p class="lead">
                Pas de compte? <a href="/users/register">S'enregister</a>
            </p>
        </div>
            
        
   </div>
</section>
