<section>
  <h2 class="page-header"> S'enregistrer</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      {{#if user}}
        <div class="alert alert-danger">Email déjà pris essayez un nouveau</div>
      {{/if}}
      {{#if errors }}
      {{#each errors }}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{ msg }}
      </div>
      {{/each }}
      {{/if }}
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="title">Email</label>
          <input type="text" name="email" id="email" class="form-control" placeholder="exemple@domain.com" value="{{email}}">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" id="password" class="form-control" maxlength="100">
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirmer le mot de passe</label>
          <input type="password" name="confirm_password" id="confirm_password" class="form-control">
        </div>
        <input type="submit" value="S'enregister" class="btn btn-primary">
      </form>
      <p class="lead">
        Déjà un compte? <a href="/users/login">Se connecter</a>
      </p>
    </div>
  </div>
</section>